.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    background-color: #f2f2f2;
    border-radius:20px;
    border:1px dashed #d2d2d2;
    padding:28px 29px;
    width:100%;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */


.inputfile-1 + label .fa-picture-o{ font-size:35px; color:#9faab7; float:left; margin-right:10px; margin-left:65px;}

.inputfile-1 + label p{  color: #004a83 ; line-height:35px; float:left; font-weight:600; margin-bottom:0px}






@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}
