
@media screen and (max-width:1200px) {
    #portfoliolist .portfolio {
        width: 32.7%;
    }
    .planetnav .navbar .navbar-nav li a {
        padding: 10px;
        font-size: 13px;
    }
    #filters li span {
        font-size: 11px;
        padding: 5px 10px;
    }
    #portfoliolist .portfolio {
        margin-right: 4px;
    }
    .select-one select {
        width: 142px;
        margin-right: 0px;
    }
    .select-one label::after {
        right: 22px;
    }
    #portfoliolist .portfolio {
        min-height: 425px;
    }
    .infotech-location h2{ font-size:13px;}
    .featured-causes-box .grey-support ul li span.rupee{padding-left: 17px; background-size:66%;background-position: 0 4px;}
    .featured-causes-box .grey-support ul li span.doller{padding-left: 14px; background-size:72%;background-position: 0 4px;}
    .featured-causes-box .grey-support ul li{margin-right: 6px;}
    .featured-causes-box .grey-support{padding: 9px}
    .featured-causes-box .grey-support ul li p{ font-weight:400; font-size:12px;}
    .supprot{ margin-top:3px;}
    .supprot > a{padding: 5px 13px;font-size: 12px;}

    .stakit ul li{ margin-right: 29px;
                   padding-right: 46px; width:30%; }	
    .stakit ul li::before{ right:0px;}	
    .stakit ul li:nth-child(3n+0){ margin-right:0px;}
    .stakit ul li:last-child::before{background: rgba(0, 0, 0, 0) url("../images/big_arrow.png") no-repeat scroll 0 0;}	

    .about-section{ padding:77px 0 77px;}
    .help-section, .blue-involved{ margin-top:25px;}

    .community-body ul li:nth-child(odd){ margin-left:44%; width:100%; text-align:center;}
    .community-body ul li:nth-child(odd) > .community-inner{ margin-left:0px; width:43%}
    .community-body ul li:nth-child(even){ margin-right:45%; width:auto;}
    .community-body ul li:nth-child(even) > .community-inner{ margin-left:0px; width:73%}
    .created_list .created_list_right{ width:72%;}
    .created_list .created_list_right ul li{margin-right: 13px;}
    a.supprot2{ margin-left: 0px;}

    .cause_created .form-group label{line-height: 28px;font-size: 11px;}
    .curcal-orenge{ width:60px; height:60px;}
    .charitable{ width:100%;}
    .curcal-orenge{ background-size:100%;}
    .chari-right{ margin-left: 10px;}
    .chari-right h4{font-size: 16px;}
    .filter-list ul li {
        margin-right: 1%;
        margin-bottom:0px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .planetnav .navbar .navbar-nav li a {
        font-size: 11px;
        font-weight: 600;
        padding: 7px 6px;
    }
    .planetnav .navbar .navbar-nav li a:hover {
        font-weight: 600;
        padding: 7px 4px;
    }
    .planetnav .navbar {
        margin-bottom: 0px;
        min-height: 15px;
    }
    .banner-box h2 {
        font-size: 50px;
        line-height: 57px;
    }
    .banner-section {
        padding: 46px 0;
    }
    .scroll-Down {
        margin-top: 25px;
    }
    .our-joinus h2 {
        font-size: 19px;
    }
    .our-joinus p {
        font-size: 13px;
        line-height: 17px;
    }
    .our-joinus ul li a {
        font-size: 13px;
        line-height: 17px;
    }
    .our-vertion {
        padding: 40px 0;
    }
    .featured {
        padding:22px 0;
    }
    .graph-tk p{ font-size: 15px;}
    .featured-causes-box .docoment-section h2 {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 4px;
    }
    .featured-causes-box .docoment-section p {
        font-size: 12px;
        line-height: 17px;
    }
    .featured-causes-box .grey-support ul li p {
        font-size: 12px;
        font-weight: 600;
    }
    .featured-causes-box .grey-support ul li span.rupee {
        background-size: 70% auto;
        padding-left: 20px;
    }
    .featured-causes-box .grey-support ul li span.doller {
        background-size: 87% auto;
        padding-left: 25px;
    }
    .featured-causes-box .grey-support ul li {
        margin-right: 5px;
    }
    .supprot {
        margin-top: 3px;
    }
    .featured-causes-box .grey-support {
        padding: 9px 10px;
    }
    .blue-involved {
        padding: 28px 21px;
    }
    #portfoliolist .portfolio {
        width: 49%;
    }
    .select-one p {
        font-size: 12px;
        margin-right: 12px;
    }
    .select-one select {
        width: 98px;
    }
    .map-direction {
        width: 100%;
        float: left;
    }
    .map-direction p {
        font-size: 12px;
        margin-right: 7px;
        padding-left: 21px;
    }
    .map-direction .input-group {
        width: 141px;
    }
    .select-one {
        width: 100%;
    }
    #portfoliolist .portfolio {
        min-height: 365px;
    }
    .post-contaner h2.mission-two, .post-contaner h2.vision-two, .post-contaner h2.promise-two{ float:none;}
    .post-contaner h2 {
        background-position: 0 1px !important;
        background-size: 16% auto !important;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 11px;
        margin-top: 23px;
        padding-left: 19% !important;
    }

    .serve-section{ padding: 24px 0;}	


    .graph-tk h2{ font-size:35px;}	
    .becoming{ margin-top:35px; padding-top:35px;}	

    .community-two ul li:nth-child(odd){width: 51%; margin-top:0px;}	
    .community-two ul li:nth-child(even){width: 51%;}		
    .community-two ul li:nth-child(odd) .community-inner{width: 88%;}
    .community-two ul li:nth-child(even) .community-inner{width: 88%;}
    .tab-content{ margin-bottom:25px;}
    .species-section ul li{ width:auto; margin-right:25px; margin-bottom:0px;}
    .donate-search .input-group input.input-search{ width:100%;}
    .donor-comment-section{ padding:30px 0px;}
    .social-share-facebook{ margin-right:8px;}
    .charitable{ display:table; width:auto;}
    .infotech-location h2 {
        font-size: 15px;
    }

    .created_list:last-child{ margin-bottom:20px; padding-bottom:20px;}

}

@media only screen and (max-width:767px) {
    .user_login {
        display: table;
        float: none;
        margin:14px auto;
        text-align: center;
    }
    .planetnav .navbar-header {
        background: #0e5c9c none repeat scroll 0 0;
        margin: 22px auto 0;
    }
    .planetnav .navbar .navbar-nav {
        float: left;
        width: 100%;
        margin-left: 0px;
    }
    .planetnav .nav > li {
        border-bottom: 1px dashed #ddd;
    }
    .banner-box h2 {
        font-size: 33px;
        line-height: 41px;
    }
    .banner-section {
        padding: 25px 0px;
    }
    .banner-box p {
        font-size: 14px;
    }
    .scroll-Down {
        margin-top: 30px;
    }
    .about-section {
        padding: 25px 15px;
    }
    .about-section h2 {
        font-size: 33px;
    }
    .our-vertion {
        background: #00599d;
        padding: 35px 0px 0;
    }
    .our-joinus {
        margin-bottom: 25px;
    }
    .our-joinus .join-cause {
        margin-top: 10px;
    }
    .featured {
        overflow: visible;
        padding: 30px 15px;
    }
    .featured-causes-box .grey-support {
        padding: 12px 8px;
    }
    .slider h2 {
        font-size: 30px;
        margin-bottom: 14px;
        line-height: 48px;
    }
    .blue-involved {
        margin-top: 20px;
        text-align: center;
    }
    .blue-involved h2 {
        font-size: 27px;
        line-height: 67px;
        margin-bottom: 0px;
    }
    .help-section {
        width: 100%;
        margin-top:0px;
    }
    .help-section h2 {
        line-height: 41px;font-size: 30px;
        margin-bottom: 25px;
    }
    .serve-section{ padding: 30px 0;}
    .donator p{ font-size: 13px;line-height: 16px;}
    .post-contaner ul li a{ font-size:13px;}
    .serve-section{margin: 30px 0 0;}
    .together2::after {
        width: 124px;
        height: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0) url("../images/down_arrow.png") no-repeat scroll 0 0;
    }
    .together2::before {
        width: 124px;
        height: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0px;
        background: rgba(0, 0, 0, 0) url("../images/down_arrow.png") no-repeat scroll 0 0;
    }
    .together2 {
        margin: 27px 0;
        padding-bottom: 58px;
        padding-top: 58px;
    }
    .footer-contaned {
        width: auto;
        padding: 36px 0;
    }
    .featured-causes-box .grey-support ul li {
        margin-right: 7px;
        float: left;
    }
    .featured-causes-box .grey-support ul li p {
        font-size: 12px;
        font-weight: normal;
    }
    .featured-causes-box .grey-support ul li span.rupee {
        background-position: 0 4px;
        background-size: 88% auto;
        padding-left: 17px;
        margin-right:5px;
        width:auto;
    }.featured-causes-box .grey-support ul li span.doller {
        width:auto;
        padding-left: 21px;
        margin-right:5px;
        background-size:100%;
        background-position: 0px 5px;
    }
    .supprot {
        float:left;
        margin:0 auto 0 4px;
        width: auto;
    }
    .footer-menu ul li a {
        font-size: 12px; padding:0px;
    }
    .supprot > a {
        font-size: 11px;
        padding: 5px 8px;
    }
    .blue-involved ul li {
        padding: 5px 0px;
        font-size: 11px;
        margin-right: 6px;
    }
    .blue-involved ul li a{ padding:8px 10px; font-size:10px;}
    .blue-involved ul li:last-child {
        margin-right: 0px;
    }
    .blue-involved ul {
        display: inline-block;
        float: none;
        margin: 15px auto 0;
    }
    #portfoliolist .portfolio {
        width: 100%;
    }
    .planetnav .navbar-header .navbar-toggle {
        margin: 4px;
        margin-left: 0px;
    }
    .planetnav .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #f3ed50;
    }
    .planetnav .navbar-default .navbar-toggle {
        border: 0px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .owl-next {
        right: -19px;
    }
    .owl-prev {
        left: -19px;
    }
    .secand-banner {
        text-align: center;
    }
    .secand-banner {
        padding: 15px 0px;
    }
    .secand-banner h2 {
        font-size: 33px;
    }
    .select-one {
        width: 100%;
    }
    #filters li span {
        padding: 5px 14px;
    }
    .select-one label {
        float: right;
    }
    .map-direction {
        width: 100%;
    }
    .map-direction p {
        margin-right: 5px;
        padding-left: 24px;
        font-size: 12px;
    }
    #filters li span {
        font-size: 12px;
    }
    #filters {
        margin-bottom: 15px;
    }
    .map-direction .input-group {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .select-one select {
        margin: 0px;
    }
    #portfoliolist .portfolio {
        min-height: 100%;
        float: left;
    }
    .footer-logo {
        margin: 11px auto 10px;
    }
    .logo {
        display: table;
        margin: 0 auto;
    }
    .logo img{ width:100%}
    .graph-tk h2, .video h2, .becoming h2{ font-size:26px; line-height:30px;}
    .graph-tk p{font-size:14px; line-height:20px;}
    .graph-box {
        float: none;
        height: auto;
        margin: 27px auto 7px;
        position: relative;
        width: 100%;
    }
    .post-contaner p, .becoming p{ font-size:14px;}
    .graph-box span.doller-price{ right:0px;}

    .join-cause{padding: 13px 41px; font-size: 14px;}
    .post-contaner h2{ line-height: 45px;
                       margin-bottom: 23px;
                       margin-top: 23px;}
    .community-body h2{font-size: 31px;  line-height: 36px;}

    .community-body ul li:nth-child(odd){ margin-left:0px; width:100%; text-align:center;}
    .community-body ul li:nth-child(odd) > .community-inner{ margin-left:0px; width:100%}
    .community-body ul li:nth-child(even) > .community-inner{ margin-left:0px; width:100%;}
    .community-body ul li:nth-child(even){ margin-right:0px; width:100%; text-align:center;}
    .community-body ul li:nth-child(odd) .valu-community { float:none; display:inline-block; margin:15px 0px; }
    .community-body ul li:nth-child(even) .valu-community { float:none; display:inline-block; margin:15px 0px; }
    .secand-about-banner{padding: 23px 0;}

    .secand-banner h2, .contact-banner h2, .secand-about-banner h2, .start_cause-banner h2{font-size: 30px;}
    .secand-banner p, .contact-banner p, .secand-about-banner p, .start_cause-banner p{font-size: 14px;}

    .user_login ul li a{padding: 2px 15px;}
    .user_login ul li{margin-right: 0;}
    .right-login-section{ margin-top:0px;}
    .serve-section h2{font-size: 30px;}

    .start_cause-banner{ padding:11px 0px;}

    .secand-banner h2, .contact-banner h2, .secand-about-banner h2, .start_cause-banner h2{ line-height:40px;}

    .stakit ul li{ float:none; padding-right:0px; margin-right:0px;} 

    .stakit ul li::before{ width:124px; left:0px; right:0px; background:url(../images/down_arrow.png) no-repeat 0px 93%; padding-bottom:25px; margin-bottom:15px; bottom:0px; margin:0px auto;}

    .stakit ul li {
        width:100%;
        float: none;
        margin-bottom: 28px;
        margin-right: 0;
        padding-bottom: 53px;
        padding-right: 0;
        text-align: center;
    }
    .stakit{ margin-top:27px;}
    .stakit ul li span{ margin-bottom:20px; margin-top:0px;}
    .stakit ul li:last-child{ margin:0px; padding-bottom:45px;}
    .stakit ul li:last-child::before{background: rgba(0, 0, 0, 0) url("../images/down_arrow.png") no-repeat scroll 0 97%;}	

    .becoming{margin-top: 25px;padding: 30px 0;}

    .donor-comment-section h3{ text-align:center; font-size:17px; line-height:34px; margin-bottom:7px;}
    .get-form{ padding:12px 9px}
    .get-inner{ padding: 25px 0;}
    .get-inner .form-group{ display:block;}
    .get-inner .form-group label{margin-bottom: 16px;}
    .get-inner .form-group{margin-bottom: 10px;}
    .select-three{ width:100%}
    .select-three > label {
        width: 100%;
    }
    .charitable{ margin-bottom:20px;}
    .tab-content{ padding: 0 15px;
                  width: 100%}
    .created_list img{ display: block;
                       float: none;
                       margin: 0 auto 20px;
                       width: 60%;}
    .created_list .created_list_right{ width:100%;}
    .created_list .created_list_right ul li{ width: 100%; margin-right:0px;}
    a.supprot2{ margin-left:0px;}
    .created_list{ display:block; padding-bottom:23px; margin-bottom:23px;}	
    .organisation-left{ padding-bottom:2px;}
    .filter-list{ width:100%; margin-top:15px;}
    .infotech-location h2{ font-size:13px;}	
    .donor-comment-section{ padding-top:30px; padding-bottom:30px;}
}

@media only screen and (max-width:374px) {
    .flile-control{
        line-height: 40px;
        text-align: center !important;
    }
    .cause-form .form-group label{
        text-align: inherit !important;
    }
}

@media only screen and (max-width:639px) {
}
