/*
Theme Name: Funeral Plan
Description: Twenty Sixteen Child Theme.
Template:     twentysixteen
Version: 1.1
Text Domain: twenty-sixteen-child
*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}
a {
    color: #000;
    -webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.7s ease;/* Firefox 4-15 */
    -o-transition: all 0.7s ease;/* Opera 10.5-12.00 */
    transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */
}
ul, li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
h1, h2, h3, h4 {
    margin: 0px;
}
img {
    max-width: 100%;
    border: none;
    outline: none;
    padding: 0;
    margin: 0
}
.clear {
    clear: both;
}
/*-- HEADER --*/

.header-top {
    background: #fff;
    padding: 10px 0;
}
.no-padding {
    padding: 0px;
}

.top-m {
    margin-top: 0px;
}
/*-- User Login --*/
.user_login {
    width: auto;
    float: right;
}
.user_login ul {
    float: left;
    margin: 0px;
    padding: 0px;
}
.user_login ul li {
    display: inline-block;
    margin-right: 5px;
}
.user_login ul li a {
    font-size: 12px;
    padding: 4px 10px;
    float: left;
    font-weight: 600;
    color: #9faab7;
}
.user_login ul li a:hover {
    color: #00599d;
}
.user_login ul li a.active {
    background: #00599d;
    color: #fff;
    border-radius: 23px;
}
/*-- User Login end --*/
.user_login .btn-primary {
    font-size: 12px;
    border-radius: 23px;
    font-weight:600;
    padding:8px 23px;
    background:#00599d;
}



.right-login-section {
    margin-top: 10px;
}
/*-- navbar --*/

.planetnav .navbar {
    margin-bottom: 10px;
}
.planetnav .navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
}
.planetnav .navbar-default .navbar-collapse {
    padding: 0px
}
.planetnav .navbar .navbar-nav {
    float: right;
}
.planetnav .navbar .navbar-nav li a {
    padding: 10px 15px;
    color: #00599d;
    font-weight: 700;
    color: #7d8b9c;
}
.planetnav .navbar .navbar-nav li a:hover {
    color: #00599d;
    font-weight: 700;
}
.planetnav .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00599d;
    background: none;
}
/*-- navbar End --*/

/*-- Banner --*/
.banner-section {
    background: #3375a5 url(../images/banner.png) no-repeat center top;
    background-size: cover;
    padding: 86px 0px 65px;
}
.banner-box {
    overflow: hidden;
    text-align: center;
}
.banner-box h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 20px;
}
.banner-box p {
    font-size: 16px;
    color: #efefef;
    line-height: 22px;
    font-weight: 400;
}
.join-cause {
    background: #fff44d none repeat scroll 0 0;
    border-radius: 33px;
    color: #004a83;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    padding: 19px 64px;
}
.scroll-Down {
    margin: 50px auto 0;
    overflow: hidden;
    text-align: center;
    width: 150px;
}
.scroll-Down p {
    font-size: 12px;
    color: #FFF;
    line-height: 25px;
    font-weight: 400;
    margin: 0px;
}
.scroll-Down span {
    background: rgba(0, 0, 0, 0) url("../images/mouse.png") no-repeat scroll center top;
    display: inline-block;
    height: 25px;
    margin-top: 8px;
    width: 25px;
}
/*-- Banner End --*/

/*-- About Section --*/
.know-more {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #dddddd;
    border-radius: 33px;
    color: #9faab7;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 25px;
    padding: 8px 29px;
}
.know-more:hover {
    border: 2px solid #00599d;
}
.about-section {
    overflow: hidden;
    padding: 80px 0px 77px;
    ;
}
.about-inner {
    overflow: hidden;
    text-align: center;
}
.about-inner h2 {
    color: #00599d;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
}
.about-section p {
    font-size: 16px;
    color: #7d8b9c;
    line-height: 25px;
    font-weight: 400;
}
/*-- About Section End  --*/

/*-- Our Vertion --*/
.our-vertion {
    background: url(../images/our_vertion.png) no-repeat center top;
    background-size: cover;
    padding: 83px 0px;
}
.our-joinus {
    overflow: hidden;
    text-align: center;
}
.our-joinus h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 10px;
}
.our-joinus p {
    font-size: 14px;
    color: #dddddd;
    line-height: 20px;
    font-weight: 400;
}
.our-joinus span.icon-miss {
    background: rgba(0, 0, 0, 0) url("../images/icon1.png") no-repeat scroll center top;
    display: inline-block;
    height: 45px;
    width: 45px;
}
.our-joinus span.icon-vis {
    background: rgba(0, 0, 0, 0) url("../images/icon2.png") no-repeat scroll center top;
    display: inline-block;
    height: 45px;
    width: 57px;
}
.our-joinus span.icon-promis {
    background: rgba(0, 0, 0, 0) url("../images/icon3.png") no-repeat scroll center top;
    display: inline-block;
    height: 49px;
    width: 78px;
}
.our-joinus ul {
    display: block;
    float: left;
}
.our-joinus ul li {
    background: rgba(0, 0, 0, 0) url("../images/yellow_arrow.png") no-repeat scroll 0 9px;
    float: left;
    margin-bottom: 9px;
    padding-left: 13px;
    text-align: left;
}
.our-joinus ul li a {
    color: #dddddd;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.our-joinus .join-cause {
    margin-top: 75px;
}
/*-- Our Vertion End --*/

/*-- Featured --*/

.featured {
    padding: 70px 15px;
    overflow: hidden;
}
.featured-causes-box {
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
}
.featured-causes-box .shear {
    width: 32px;
    height: 31px;
    position: absolute;
    right: 13px;
    top: 11px;
}
.featured-causes-box .shear a {
    width: 32px;
    height: 31px;
    background: url(../images/like_icon.png) no-repeat top right;
    float: left;
    font-size: 0px;
}
.featured-causes-box .shear a:hover {
    background: url(../images/like_icon_hover.png) no-repeat top right;
}
.featured-causes-box img {
    width: 100%;
    height: auto;
}
.featured-causes-box .docoment-section {
    padding: 13px 21px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: left;
}
.featured-causes-box .docoment-section h2 {
    line-height: 7px;
    margin-bottom: 10px;
    text-align: left;
}
.featured-causes-box .docoment-section h2 a{color: #7d8b9c;
                                            font-size: 14px;
                                            font-weight: 600;
}


.featured-causes-box .docoment-section p {
    color: #7d8b9c;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}
.featured-causes-box .grey-support {
    overflow: hidden;
    padding: 22px 15px;
    background: #dddddd;
    display: inline-block;
    width: 100%;
    clear: both;
}
.featured-causes-box .grey-support ul {
    float: left;
}
.featured-causes-box .grey-support ul li {
    float: left;
    margin-right: 15px;
}
.featured-causes-box .grey-support ul li:last-child {
    margin-right: 0px;
}
.featured-causes-box .grey-support ul li span.rupee {
    width: 20px;
    height: 31px;
    padding-left: 35px;
    background: url(../images/rupee.png) no-repeat 0px 0px;
    float: left;
}
.featured-causes-box .grey-support ul li p {
    color: #7d8b9c;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 29px;
    margin: 0;
}
.featured-causes-box .grey-support ul li span.doller {
    width: 31px;
    height: 30px;
    padding-left: 35px;
    background: url(../images/doller.png) no-repeat 0px 0px;
    float: left;
}
/*-- Featured End --*/
#filters {
    margin: 0px;
}
#filters li span {
    font-size: 14px;
    padding: 5px 12px;
}
#filters li span:hover{border-bottom: 3px solid #fff44d;color: #00599d;}

.supprot > a {
    background: #00599d none repeat scroll 0 0;
    border-radius: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 10px 24px;
}
.supprot > a:hover {
    background: #2793e6;
    color: #fff;
}
.supprot {
    float: right;
}
.owl-dots {
    display: none !important;
}
.slider {
    display: inline;
    position: relative;
}
.slider h2 {
    color: #00599d;
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
}
.owl-prev {
    background: #ebd42b url("../images/pvr_arrow.jpg") no-repeat scroll center 9px !important;
    border-radius: 25px !important;
    height: 43px;
    left: -25px;
    position: absolute;
    right: auto;
    font-size: 0 !important;
    top: 39%;
    width: 43px;
}
.owl-next {
    background: #ebd42b url("../images/next_arrow.jpg") no-repeat scroll center 9px !important;
    left: auto;
    border-radius: 25px !important;
    height: 43px;
    position: absolute;
    font-size: 0 !important;
    right: -25px;
    top: 39%;
    width: 43px;
}
/*-- Blue Involved --*/
.blue-involved {
    overflow: hidden;
    background: #00599d;
    padding: 28px 21px;
    margin-top: 77px;
}
.blue-involved h2 {
    color: #fff44d;
    font-size: 40px;
    font-weight: 700;
    line-height: 51px;
    margin-bottom: 10px;
}
.blue-involved p {
    color: #dddddd;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
}
.blue-involved ul {
    margin-top: 25px;
}
.blue-involved ul li {
    margin-right: 15px;
    float: left
}
.blue-involved ul li a {
    border: 2px solid #ddd;
    border-radius: 25px;
    color: #fff;
    padding: 8px 22px;
    font-weight: 600;
    font-size: 12px;
}
.blue-involved ul li a:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #00599d;
}
/*-- Blue Involved End --*/

/*-- Help Section --*/	
.help-section {
    margin-top: 55px;
    overflow: hidden;
}
.help-section h2 {
    color: #00599d;
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 32px;
    text-align: center;
}
.help-section p {
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.together {
    text-align: center;
    overflow: hidden;
    position: relative;
}
.together span.helpothers {
    margin: 0px auto;
    display: inline-block;
    width: 72px;
    height: 143px;
    background: url(../images/men_icon.png) no-repeat center top;
}
.together2 span.cause {
    background: rgba(0, 0, 0, 0) url("../images/jar_icon.png") no-repeat scroll left top;
    display: inline-block;
    height: 128px;
    margin: 0 auto 15px;
    width: 98px;
}
.together span.support {
    margin: 0px auto;
    display: inline-block;
    width: 126px;
    height: 141px;
    background: url(../images/earth_icon.png) no-repeat center top
}
.together2 {
    position: relative;
    text-align: center;
}
.together2::after {
    background: url(../images/big_arrow.png) no-repeat;
    z-index: 2;
    position: absolute;
    content: "";
    width: 32px;
    height: 124px;
    left: -29px;
    top: 0;
}
.together2::before {
    background: url(../images/big_arrow.png) no-repeat;
    right: -24px;
    z-index: 1;
    position: absolute;
    content: "";
    width: 32px;
    height: 124px;
}
.together:last-child {
    background: none;
}
/*-- Help Section End --*/

.right-login-section .input-group {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 2px;
}
.right-login-section .input-group .input-search {
    border: 0px;
    background: none;
    box-shadow: none;
    font-size: 12px;
}
.right-login-section .input-group button.btn-primary {
    background: none;
    border: 0px;
}
.right-login-section .input-group .fa-search {
    font-size: 16px;
    color: #b3b7bc;
}
/*-- Logo Section --*/
.logo-section {
    padding: 12px 0px;
    background: #f6f6f6;
}
.logo-section .owl-carousel .owl-item .sm-logo {
    text-align: center;
}
.logo-section .owl-carousel .owl-item .sm-logo img {
    width: auto;
    display: inline-block;
}
.logo-section .owl-carousel .owl-nav .owl-next, .logo-section .owl-carousel .owl-nav .owl-prev {
    display: none !important;
}
/*-- Logo Section End --*/

/*-- Footer Contaned --*/

.footer-contaned {
    overflow: hidden;
    padding: 55px 0px;
    text-align: center;
}
.footer-contaned p {
    color: #9faab7;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}
.socail-f {
    display: table;
    vertical-align: middle;
    margin: 0 auto;
    width: auto;
}
.socail-f ul {
    display: block;
    float: left;
}
.socail-f ul li {
    float: left;
    margin-left: 15px;
    height: auto;
}
.socail-f ul li a {
    font-size: 0px;
    float: left;
}
.socail-f ul li a:hover {
    color: #d7d7d7;
    text-decoration: underline;
}
.facebook {
    background: url(../images/facebook.png) no-repeat;
    background-position: 0 0px;
    height: 40px;
    width: 32px;
}
.twitter {
    background: url(../images/twitter.png) no-repeat;
    background-position: 0 5px;
    width: 32px;
    height: 32px;
}
.inkding {
    background: url(../images/ink.png) no-repeat;
    background-position: 0 0px;
    width: 32px;
    height: 36px;
}
.youtube {
    background: url(../images/youtube.png) no-repeat;
    background-position: 0 0px;
    width: 34px;
    height: 45px;
}
.footer-menu {
    display: table;
    margin: 25px auto 0;
    overflow: hidden;
}
.footer-menu ul li:first-child {
    margin-left: 0px;
}
.footer-menu ul {
    display: block;
    float: left;
}
.footer-menu ul li {
    float: left;
    margin-left: 15px;
}
.footer-menu ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #7d8b9c;
    float: left;  padding: 0 8px;
}
.footer-menu ul li a:hover {
    color: #00599d;
    text-decoration: underline;
}
/*-- Footer Contaned End --*/


.graph {
    color: #222;
}
.graph span {
    color: #999;
    font-size: 14px;
    line-height: 12px;
    margin-left: 10px;
    font-weight: 700;
}
.graph strong {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin-top: 9px;
}
.graph .progress {
    margin-bottom: 0px;
    height: 12px;
}
.owl-carousel .owl-stage-outer {
    margin-bottom: 14px;
    margin-top: 15px;
}
#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
}
#filters li {
    float: left;
}
#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #7d8b9c;
    font-weight: 700;
    cursor: pointer;
}
#filters li span.active {
    color: #00599d;
    font-weight: 700;
    border-bottom: 3px solid #fff44d;
}
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 32.8%;
    margin: 0 6px 20px 0;
    display: none;
    min-height: 440px;
    float: left;
    overflow: hidden;
    text-align: left;
}
.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
    height: 450px;
}
.portfolio img {
    max-width: 100%;
    position: relative;
}
.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
}
.portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}
.portfolio .text-category {
    display: block;
    font-size: 9px;
}


/*-- Inner Banner --*/
.secand-about-banner {
    padding: 45px 0;
    background: #00599d url(../images/about_banner1.png) no-repeat right top; background-size:cover;
}

.secand-banner {
    padding: 45px 0;
    background: #00599d url(../images/second_banner.jpg) no-repeat right top
}
.secand-banner-box {
    width: 600px;
    overflow: hidden;
}
.secand-banner h2, .contact-banner h2, .secand-about-banner h2, .start_cause-banner h2,  .cause-banner h2{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 7px;
}
.secand-banner p, .contact-banner p, .secand-about-banner p, .start_cause-banner p, .cause-banner p  {
    color: #efefef;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.contact-banner {
    padding: 45px 0;
    background: #00599d url(../images/contact_banner.jpg) no-repeat right top;
    background-size: cover;
}
.contact-banner-box {
    width: 600px;
    overflow: hidden;
}
/*-- Inner Banner End --*/

/*-- Contact Section --*/
.contact-form {
    overflow: hidden;
    padding: 35px 0 80px;
}
.contact-form h2, .causeFormWrap h2{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    margin: 25px 0 45px;
    color: #00599d;
}
/*.contact-form input[type="text"] {
    border-radius: 25px;
    height: auto;
    margin-bottom: 17px;
    padding: 10px 14px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #d2d2d2;
}
*/
.form-control {
    border-radius: 25px;
    height: auto;
    margin-bottom: 17px;
    padding: 10px 14px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #d2d2d2;
    color: #7d8b9c;
}

.contact-form .form-control, .cause-form .form-control, .loginSec .form-control {
    border-radius: 25px;
    height: auto;
    margin-bottom: 17px;
    padding: 10px 14px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #d2d2d2;
    color: #7d8b9c;
}

/*.contact-form .form-control {
    width: 100%;
    height: 103px;
    border-radius: 11px;
    margin-bottom: 17px;
    padding: 15px 14px;
    font-size: 12px;
    color: #9faab7;
}*/

.contact-form textarea.form-control , .cause-form textarea.form-control{
    width: 100%;
    height: 103px;
    border-radius: 11px;
    margin-bottom: 17px;
    padding: 15px 14px;
    font-size: 12px;
    color: #9faab7;
}
.contact-form .btn-primary {
    background: #00599d none repeat scroll 0 0;
    border-radius: 20px;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}

/*-- Contact Section End --*/

/*-- Touch --*/
.get-touch {
    background: url(../images/get_touch.jpg) no-repeat center top;
    background-size: cover;
    padding: 85px 0px;
}
.touch-inner {
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
}
.touch-inner h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 15px;
    color: #fff44d;
}
.touch-inner p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #dddddd;
}
.call_hk {
    overflow: hidden;
    margin-top: 25px;
}
.call_hk span.call-point {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 0px auto;
    background: url(../images/phone_icon.png) no-repeat center top;
}
.call_hk span.map-point {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 0px auto;
    background: url(../images/map_point.png) no-repeat center top;
}
.call_hk span.email-point {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 0px auto;
    background: url(../images/mail.png) no-repeat center top;
}
.call_hk h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    margin: 11px;
    color: #fff;
}
.call_hk p {
    line-height: 20px;
    margin-bottom: 0px;
}
.call_hk p a {
    font-size: 14px;
    font-weight: 400;
    color: #dddddd;
}

/*-- Touch End --*/

.select-one p {
    color: #7d8b9c;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0;
    margin-right: 7px;
    width: auto;
}
.select-one select {
    padding: 10px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 29px;
    color: #6e7f88;
    border: 1px solid #ccc;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 184px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}
.select-one {
    width: 270px;
    height: auto;
    display: inline-block;
}
.select-one label {
    position: relative
}
.select-one label:after {
    content: url(../images/grey_arrow.jpg);
    background-repeat: no-repeat;
    font: 16px 'Lato', monospace;
    color: #aaa;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    right: 12px;
    top: 11px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}
.select-one label:before {
    content: '';
    right: 1px;
    top: -6px;
    width: 34px;
    height: 33px;
    position: absolute;
    pointer-events: none;
    display: block;
}
.map-direction {
    float: right;
    overflow: hidden;
    width: 364px;
    padding-top: 5px;
}
.map-direction p {
    background: rgba(0, 0, 0, 0) url("../images/map_icon.jpg") no-repeat scroll 0 5px;
    color: #7d8b9c;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 0;
    margin-right: 9px;
    padding-left: 24px;
}
.map-direction .input-group {
    width: 180px;
    height: auto;
    float: left;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0px;
}
.map-direction .input-group .input-search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 400;
}
.map-direction .input-group button.btn-primary {
    background: #00599d;
    border-radius: 25px;
    border: 0 none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding: 9px 16px;
}
.view-causes {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #dddddd;
    border-radius: 33px;
    color: #9faab7;
    display: table;
    font-size: 12px;
    font-weight: 700;
    margin: 40px auto 0;
    padding: 5px 25px;
    clear: both;
}
.view-causes:hover {
    border: 2px solid #00599d;
}
.view-cell {
    text-align: center;
    margin-top: 20px;
    clear:
}
.footer-inner {
    border-top: 1px solid #ddd;
}
.footer-logo {
    width: 80px;
    height: auto;
    margin: 35px auto 10px;
}

/*-- Graph part --*/
.graph-tk {
    overflow: hidden;
    text-align: center;
}
.graph-tk h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 15px;
    color: #00599d;
}
.graph-tk p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7d8b9c;
}
.graph-box {
    width: 514px;
    height: auto;
    margin: 56px auto 25px;
    float: none;
    position: relative;
}
.graph-box span.doller-price {
    height: auto;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    background: #00599d;
    position: absolute;
    right: -35px;
    top: 0;
    float: left;
}
.graph-box span.doller-price:after {
    background: rgba(0, 0, 0, 0) url("../images/blu_left_arrow.png") no-repeat scroll 0 0;
    content: "";
    float: left;
    height: 35px;
    left: -20px;
    margin-right: 15px;
    position: absolute;
    top: 0;
    width: 35px;
}
.graph-box span.doller-price p {
    font-size: 30px;
    font-weight: 700;
    line-height: 31px;
    color: #fff;
    margin: 0px;
}

/*-- Graph part End --*/


/*-- Post blue --*/

.post-bule {
    background: #00599d;
    padding: 25px 0px;
    overflow: hidden;
}
.post-contaner {
    overflow: hidden;
}
.post-contaner h2 {
    color: #fff44d;
    font-size: 22px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 43px;
    margin-bottom: 24px;
}
.post-contaner p {
    color: #ddd;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
    float: left;
}
.post-contaner h2.mission-two {
    background: rgba(0, 0, 0, 0) url("../images/icon1.png") no-repeat scroll 0 0;
    float: left;
    padding-left: 58px;
}
.post-contaner h2.vision-two {
    background: rgba(0, 0, 0, 0) url("../images/icon2.png") no-repeat scroll 0 0;
    float: left;
    padding-left: 70px;
}
.post-contaner h2.promise-two {
    background: rgba(0, 0, 0, 0) url("../images/icon3.png") no-repeat scroll 0 0;
    float: left;
    padding-left: 90px;
}
.post-contaner ul {
    float: left;
    display: block;
}
.post-contaner ul li {
    background: rgba(0, 0, 0, 0) url("../images/yellow_arrow.png") no-repeat scroll 0 9px;
    float: left;
    margin-bottom: 17px;
    padding-left: 13px;
    text-align: left;
}
.post-contaner ul li a {
    color: #dddddd;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/*-- Post blue End --*/

/*-- Community Body --*/
.community-body {
    overflow: hidden;
    background: url(../images/boder-line.jpg) no-repeat center 150px;
}
.community-body h2 {
    color: #00599d;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 21px;
    text-align: center;
}
.community-body ul {
    float: left;
}
.community-body ul li {
    float: left;
}

.yellow-one {
    background: #fff url(../images/ye_pic_1.png) no-repeat 7px 15px;
    height: 80px;
    width: 80px;
    float: left;
}
.yellow-two {
    background: #fff url(../images/ye_pic_2.png) no-repeat 17px 15px;
    height: 80px;
    width: 80px;
    float: left;
}
.yellow-three {
    background: #fff url(../images/ye_pic_3.png) no-repeat 11px 13px;
    height: 80px;
    width: 80px;
    float: left;
}
.yellow-four {
    background: #fff url(../images/ye_pic_4.png) no-repeat 16px 15px;
    height: 80px;
    width: 80px;
    float: left;
}
.yellow-five {
    background: #fff url(../images/ye_pic_5.png) no-repeat 16px 15px;
    height: 80px;
    width: 80px;
    float: left;
}
.community-body ul li:nth-child(odd) {
    margin-left: 46.2%;
    width: 505px;
    overflow: hidden;
    float: left;
}

.community-body ul li:nth-child(odd) .valu-community {
    border: 3px solid #00599d;
    border-radius: 49px;
    margin-right: 20px;
    text-align: center;
}

.community-body ul li:nth-child(odd) > .community-inner {
    background: #eef3f6 none repeat scroll 0 0;
    float: left;
    padding: 10px 15px;
    width: 390px;
    position: relative;
}

.community-body ul li:nth-child(odd) > .community-inner:after {
    position: absolute;
    left: -20px;
    top: 0px;
    background: url(../images/grey_left_arrow.png) no-repeat left top;
    width: 20px;
    height: 32px;
    content: "";
    float: left;
}
.community-body ul li:nth-child(odd) > .community-inner h2 {
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
    text-align: left;
}
.community-body ul li:nth-child(odd) > .community-inner p {
    line-height: 18px;
    font-size: 13px;
    color: #7d8b9c;
    text-align:left;
}



.community-body ul li:nth-child(even) {
    margin-right: 46.1%;
    width: 505px;
    overflow: hidden;
    float: right;
    margin-top: 6px;
}

.community-body ul li:nth-child(even) .valu-community {
    border: 3px solid #00599d;
    border-radius: 49px;
    float: right;
    margin-left: 20px;
    text-align: center;
}
.community-body ul li:nth-child(even) > .community-inner {
    background: #eef3f6 none repeat scroll 0 0;
    float: left;
    padding: 10px 15px;
    width: 390px;
    position: relative;
}
.community-body ul li:nth-child(even) > .community-inner h2 {
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
    text-align: left;
}
.community-body ul li:nth-child(even) > .community-inner p {
    line-height: 18px;
    font-size: 13px;
    color: #7d8b9c;
    text-align:left;
}
.community-body ul li:nth-child(even) > .community-inner:after {
    position: absolute;
    right: -20px;
    top: 0px;
    background: url(../images/grey_right_arrow.png) no-repeat left top;
    width: 20px;
    height: 32px;
    content: "";
    float: right;
}

/*-- Community Body End --*/


/*-- Serve Section --*/
.serve-section {
    background: url(../images/about_banner2.png) no-repeat left top;
    background-size: cover;
    padding: 55px 0 65px;
    margin: 80px 0px 0px
}
.serve-section h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 26px;
    text-align: center;
}
.donator {
    overflow: hidden;
    text-align: center;
}
.donator span.icon-vander-one {
    background: url(../images/h-icon.png) no-repeat left top;
    width: 40px;
    height: 45px;
    display: inline-block;
}
.donator span.icon-vander-two {
    background: url(../images/w-icon.png) no-repeat left top;
    width: 42px;
    height: 47px;
    display: inline-block;
}
.donator span.icon-vander-three {
    background: url(../images/w_icon2.png) no-repeat left top;
    width: 42px;
    height: 49px;
    display: inline-block;
}
.donator h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 12px;
    margin-top: 11px;
}
.donator p {
    color: #dddddd;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/*-- Serve Section --*/

.donor-comment-section {
    border-top: 3px solid #e8e8e8;
    padding: 83px 0px;
    overflow:hidden;
}
.donor-comment-section h2 {
    color: #00599d;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 33px;
    text-align: center;
}

.donor-comment-section h3 {
    color: #7d8b9c;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 5px;
}
.donar-banner {
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    text-align: center;
}
.donar-banner span {
    background: rgba(0, 0, 0, 0) url("../images/like_icon.png") no-repeat scroll left top;
    float: left;
    padding-right: 0;
    position: absolute;
    right: 20px;
    top: 19px;
    width: 104px;
    z-index: 999;
}
.donar-banner span p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 40px;
}
.species-section {
    overflow: hidden;
    background: url(../images/boder-line.jpg) no-repeat 37px 0px
}
.species-section ul {
    display: block;
}
.species-section ul li {
    width: 100%;
    margin-bottom: 19px;
    float: left;
}

.species-section ul li:last-child{ margin:0px;}
.species-section ul li span {
    border: 3px solid #00599d;
    border-radius: 60px;
    float: left;
    height: 80px;
    margin-right: 15px;
    width: 80px;
}
.species-section ul li span.water-one {
    background: #fff url("../images/life_icon.png") no-repeat scroll 5px 7px;
}
.species-section ul li span.water-two {
    background: #fff url("../images/ye_pic_1.png") no-repeat scroll 7px 15px;
}
.species-section ul li span.water-three {
    background: #fff url("../images/calander_icon.png") no-repeat scroll 15px 14px;
}
.pirce-d {
    float: left;
    padding-top: 13px;
}
.pirce-d h2 {
    color: #7d8b9c;
    font-size: 30px;
    display: inline-block;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
}
.pirce-d p {
    color: #9faab7;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.donate-search {
    overflow: hidden;
    margin-top: 30px;
}
.donate-search .input-group input.input-search {
    border: 1px solid #ccc;
    border-radius: 46px;
    height: 60px;
    width: 246px;
    padding-right: 58px;
    font-size: 15px;
}
.donate-search .input-group-btn {
    display: inline-block;
    margin-left: -57px;
}
.donate-search .input-group-btn .btn-primary {
    background: #fff44d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 30px;
    color: #004a83;
    font-size: 16px;
    font-weight: 700;
    height: auto;
    outline: none;
    padding: 18px 0;
    text-align: center;
    width: 150px;
    z-index: 999;
}
.curcal-gry {
    background: #f6f6f6 url("../images/big_cat.jpg") no-repeat scroll 9px 12px;
    border-radius: 53px;
    float: left;
    height: 80px;
    width: 80px;
}
.charitable {
    margin: 0 auto 50px;
    overflow: hidden;
    width:91%;
}
.chari-right {
    float: left;
    overflow: hidden;
    margin-left: 14px;
}
.chari-right h2 {
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 3px;
}

.chari-right h4 {
    color: #222;
    font-size: 18px;
    font-weight:600;
    line-height: 20px;
    margin-bottom: 3px;
}
.chari-right p {
    color: #7d8b9c;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0px;
}
.chari-right p.author {
    color: #7d8b9c;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0px;
}


.chari-right h3 {
    color: #7d8b9c;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    background: url(../images/map-pint1.png) no-repeat left 5px;
    padding-left: 35px;
    float: left;
    width: 100%;
}
.tag-line {
    float: right;
    width: auto
}
.tag-line p strong {
    font-size: 14px;
    font-weight: 600;
    color: #7d8b9c;
    margin-right: 10px;
}
.tag-line p {
    font-size: 12px;
    font-weight: 600;
    color: #9faab7;
}
.tab-comments .nav-tabs {
    margin-bottom: 25px;
    border-bottom: 0px;
}
.tab-comments .nav-tabs li a {
    border: 0 none;
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 700;
}
.tab-comments .nav-tabs > li > a {
    border-radius: 0px;
    padding: 5px 15px;
}
.tab-comments .nav-tabs > li.active > a, .tab-comments .nav-tabs > li.active > a:hover, .tab-comments .nav-tabs > li.active > a:focus {
    border: 0px;
    border-bottom: 3px solid #fff44d;
    height: 33px;
}
.tab-comments .nav > li > a:hover, .tab-comments .nav > li > a:focus {
    background: none;
    border-bottom: 3px solid #fff44d;
    color: #00599d;
    transition: all 0.0s ease;
}
.tab-comments .form-group textarea {
    height: 150px;
    border-radius: 15px;
    border: 1px solid #d2d2d2;
    padding: 15px 20px;
}
.tab-comments .btn-primary {
    background: #00599d none repeat scroll 0 0;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0;
    width: 100%;
}
.tab-content {
    /*overflow: hidden;*/
    float:left;
    margin-top: 25px;
}
.social-share-box {
    background: #00599d none repeat scroll 0 0;
    overflow: hidden;
    padding: 24px 35px;
    margin-top: 45px;
}
.social-share-facebook:last-child {
    margin-right: 0;
}
.social-share-box h2 {
    color: #fff44d;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.social-share-facebook {
    border: 2px solid #fff;
    border-radius: 25px;
    float: left;
    padding: 0;
    margin-right: 16px;
    width: 96px;
}
.social-share-facebook p {
    color: #fff;
    float: left;
    font-size: 12px;
    line-height: 33px;
    margin-bottom: 0;
    margin-left: 11px;
}
.social-share-facebook span {
    border-radius: 30px;
    float: left;
    height: 35px;
    width: 35px;
}

.social-share-facebook span:hover { opacity:0.8;}
.social-share-facebook span.s-twitter {
    float: left;
    background: #fff url(../images/s-twitter.jpg) no-repeat 6px 8px
}
.social-share-facebook span.s-facebook {
    float: left;
    background: #fff url(../images/s-facebook.jpg) no-repeat 9px 6px
}
.social-share-facebook span.s-inkt {
    float: left;
    background: #fff url(../images/s-ink.jpg) no-repeat 6px 6px
}
.social-share-box .input-group .input-search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    border-radius: 25px;
    color: #9faab7;
    float: left;
    font-size: 12px;
    height: 39px;
    padding-right: 55px;
    width: 265px;
}
.share-point {
    overflow: hidden;
    margin-bottom: 20px;
}
.social-share-box .input-group-btn {
    float: left;
    margin-left: -43px;
}
.social-share-box .input-group-btn .btn-primary {
    background: #fff44d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 25px;
    color: #004a83;
    float: left;
    font-size: 12px;
    font-weight: 600;
    outline: medium none;
    padding: 11px 30px;
    text-align: center;
    z-index:999;
}
.contact-donat {
    overflow: hidden;
    padding: 15px 0px;
    text-align: center;
}
.contact-donat .form-group {
    overflow: hidden;
}
.contact-donat h2 {
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    margin-bottom: 11px;
}
.contact-donat .form-group .btn-primary {
    background: #fff44d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 25px;
    color: #004a83;
    font-size: 12px;
    font-weight: 600;
    outline: medium none;
    padding: 14px 130px;
    text-align: center;
}
.tab-comments .img-circle {
    border: 2px solid #00599d;
}
.tab-comments .media-body {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 15px;
    display: inline-block;
    float: right;
    padding: 15px;
    width: 87%;
    margin-bottom: 20px;
}
.tab-comments .media-left {
    float: left
}
.tab-comments h4 {
    color: #00599d;
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    margin-right: 21px;
    text-align: center;
}
.tab-comments em {
    color: #7d8b9c;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    float: left;
    font-style: normal;
}
.tab-comments p {
    color: #7d8b9c;
    float: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 12px 0;
}
.tab-comments {
    margin-top: 25px !important;
    overflow: hidden;
}
.tab-content .media {
    margin-top: 25px;
}
.community-two {
    background: url(../images/boder-line.jpg) no-repeat center 25px;
    float:left;
}
.community-two ul {
    float: left;
}
.community-two ul li {
    float: left;
}
.community-two ul li:nth-child(odd) {
    /*margin-left:49%;*/
    width:404px;
    overflow: hidden;
    float: right;
    margin-top:0px;
}
.community-two ul li:nth-child(even) {
    /* margin-right: 49%;*/
    width:402px;
    overflow: hidden;
    float: left;
    margin-top: -130px;
}
.community-two ul li:nth-child(odd) .valu-community {
    border: 3px solid #00599d;
    background: #fff;
    border-radius: 49px;
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    text-align: center;
    width: 20px;
    height: 20px;
}
.community-two ul li:nth-child(even) .valu-community {
    border: 3px solid #00599d;
    background: #fff;
    border-radius: 49px;
    float: right;
    margin-left: 20px;
    margin-top: 25px;
    text-align: center;
    width: 20px;
    height: 20px;
}
.community-two ul li:nth-child(even) > .community-inner:after {
    position: absolute;
    right: -20px;
    top: 0px;
    background: url(../images/grey_right_arrow.png) no-repeat left top;
    width: 20px;
    height: 32px;
    content: "";
    float: right;
}
.community-two ul li:nth-child(even) > .community-inner {
    background: #eef3f6 none repeat scroll 0 0;
    float: left;
    padding: 10px 15px;
    width: 348px;
    position: relative;
}
.community-two ul li:nth-child(odd) > .community-inner {
    background: #eef3f6 none repeat scroll 0 0;
    float: left;
    padding: 10px 15px;
    width: 348px;
    position: relative;
}
.community-two ul li:nth-child(odd) > .community-inner:after {
    position: absolute;
    left: -20px;
    top: 0px;
    background: url(../images/grey_left_arrow.png) no-repeat left top;
    width: 20px;
    height: 32px;
    content: "";
    float: left;
}
.community-two ul li:nth-child(odd) > .community-inner h3 {
    color: #00599d;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 0px;
    text-align: left;
}
.community-two ul li:nth-child(odd) > .community-inner h2 {
    margin-bottom: 4px;
    text-align: left;
    line-height: 0px;
}
.community-two ul li:nth-child(odd) > .community-inner h2 a {
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
}
.community-two ul li:nth-child(odd) > .community-inner h2 a:hover {
    text-decoration: underline;
}
.community-two ul li:nth-child(even) > .community-inner h3 {
    color: #00599d;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 0px;
    text-align: left;
}
.community-two ul li:nth-child(even) > .community-inner h2 {
    margin-bottom: 4px;
    text-align: left;
    line-height: 0px;
}
.community-two ul li:nth-child(even) > .community-inner h2 a {
    color: #7d8b9c;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
}
.community-two ul li:nth-child(even) > .community-inner h2 a:hover {
    text-decoration: underline;
}
.community-two ul li:nth-child(even) > .community-inner p {
    line-height: 18px;
    font-size: 13px;
    color: #7d8b9c;
}
.community-two ul li:nth-child(odd) > .community-inner p {
    line-height: 18px;
    font-size: 13px;
    color: #7d8b9c;
}
.more-aone {
    border: 2px solid #dddddd;
    border-radius: 25px;
    color: #9faab7;
    float: right;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 15px;
}
.more-aone:hover {
    border: 2px solid #00599d;
    color: #00599d;
}
.community-three {
    width:100%;
    float:left;
}
.community-three h3 {
    color: #7d8b9c;
    float: left;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 26px;
}
.community-three p {
    color: #7d8b9c;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.start_cause-banner{
    padding: 45px 0;
    background: #00599d url(../images/start_cause_banner.jpg) no-repeat right top;
    background-size:cover;
}

.video{ overflow:hidden;}
.video h2 {
    color: #00599d;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 21px;
    text-align: center;
}

.stakit{ overflow:hidden; margin-top:55px; text-align: center;}
.stakit h2 {
    line-height: 16px;
    margin-bottom: 5px;
}
.stakit h2 a{color: #7d8b9c;
             font-size: 14px;
             font-weight: 600;}
.stakit p{
    color: #7d8b9c;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    word-wrap: break-word;
}


.stakit ul{ display:block;}
.stakit ul li {
    float: left;
    margin-right: 20px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    width: 15%;
}

.stakit ul li span {
    display: inline-block;
    margin-bottom: 55px;min-height: 85px;
    width: auto;margin-top: 19px;
}

.stakit ul li:before {
    background: url(../images/big_arrow.png) no-repeat;
    right: -8px;
    z-index: 1;
    position: absolute;
    content: "";
    width: 32px;
    height: 124px;
}
.stakit ul li:last-child{margin-right:0px; padding-right:0px;}
.stakit ul li:last-child:before {
    background: none; 
}

.becoming{ padding:55px 0px; background:url(../images/becoming.jpg) no-repeat center top; text-align:center; background-size:cover;margin-top: 105px;}

.becoming h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 26px;
    text-align: center;
}
.becoming p {
    color: #dddddd;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.login-section-two .input-group .input-search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    font-size: 12px;
}
.login-section-two .input-group {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 2px;
}
.login-section-two .input-group button.btn-primary {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
}
.login-section-two {
    float: none;
    margin:15px auto 25px;
}

.login-section-two .input-group .fa-search {
    color: #b3b7bc;
    font-size: 16px;
}

.tab-content .panel-group {
    width:100%;
    display: inline-table;
    margin-bottom: 20px;
}
.tab-content .panel-title a{ display: inline-block; font-size:13px; color:#00599d;}
.tab-content .panel-default > .panel-heading{ background:none; border-radius:0px; padding:0px;}
.tab-content .panel-default{ border:0px;}
.tab-content .panel-body {
    color: #7d8b9c;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 0;
}

.tab-content .glyphicon-chevron-up::before{ color:#00599d;margin-left:7px;}
.tab-content .glyphicon-chevron-down::before{ color:#00599d;margin-left:7px;}

.tab-content .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{ border:0px;}
.tab-content .panel{ box-shadow:none;}
.tab-content .panel-group .panel + .panel{margin-top: 17px;}
/* safari 3+, chrome 1+, opera9+, ff 3.5+ */
.tab-content .panel-group h2{ text-align:left; color:#7d8b9c; font-size:22px; margin-bottom:25px; margin-top:75px; line-height:15px;}
.getting-form{ overflow:hidden;}

.getting-form h2 {
    color: #00599d;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 33px;
    text-align: center;
}
.get-form{ width:100%; background:#00599d; padding:25px 21px; overflow:hidden; /*margin-bottom:100px;*/}

.get-inner{ background:#fff; border-radius:15px 15px 0 0; padding:25px 21px; text-align:left;}
.get-inner .form-group{ margin-bottom:8px; float:left; width:100%;}
.get-inner .form-group label{ font-size:14px; font-weight:700; color:#7d8b9c;}
.get-inner .form-group .form-control{ border-radius:25px; margin-bottom:12px; height: 38px; font-size:12px; color:#7d8b9c;}
.get-inner .form-group textarea {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
    resize: none;
    font-size:12px;
}
.get-inner .resp-tabs-list li{width:50%; border:1px solid #d2d2d2 !important; text-align: center; padding: 7px 10px !important; margin:0px; background:#fff ;}
.get-inner .resp-tabs-list li:first-child{border-radius:20px 0 0 20px !important; border-right:0px !important;  }
.get-inner .resp-tabs-list li:last-child{border-radius:0px 20px 20px 0px !important;border-left:0px !important;}

.get-inner .resp-tab-active{ background:#00599d!important; color:#fff !important; }

.get-inner ul.resp-tabs-list{ width:100%;}


.get-inner .checkbox{ margin:0px;height:51px;}
.get-inner .checkbox input[type=checkbox] {
    visibility: hidden;
}   
.get-inner .checkbox input + label::before {
    content: url('../images/radio_inactive.png');
    margin-right:9px; float:left;
}

.get-inner .checkbox input:checked + label::before {
    content: url('../images/radio_active.png');margin-right:9px;
}

.get-inner .checkbox label, .checkbox label{ padding-left:0px; font-size:14px; color:#9faab7; font-weight:700;}
.get-inner .checkbox input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin-left: 0;}

.get-inner .input-group .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.get-inner .input-group-addon {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    padding: 0;
    position: absolute;
    right:27px;
    top: 7px;
    width: 14px;
    font-size:20px;
}

.get-inner .glyphicon-calendar::before {
    color: #9faab7;
    content: url('../images/calander_grey_icon.png');
}
.get-inner span i.fa-map-marker {
    color: #a6abb1;
    font-size: 22px;
    position: absolute;
    right: 28px;
    top: 7px;
}

.get-inner .fa-map-marker::before {
    color: #9faab7;
    content: url('../images/location_icon.png');
}


.sub-gi-get{ width:100%; padding:15px 0px; background:#dddddd; overflow:hidden;border-radius: 0px 0px 15px 15px;}

.sub-gi-get .btn-default {
    background: #fff44d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 33px;
    color: #004a83;
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    padding: 19px 37px;
}
.sub-gi-get p {
    float: left;
    margin-bottom: 0;
    margin-right: 15px;
}

.sub-gi-get p a{font-size: 12px;
                line-height: 65px; color:#7d8b9c}

.sub-right{ float:right; width:auto;}

.inputfile {
    height: 0.1px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 0.1px !important;
    z-index: -1 !important;
}

.get-inner .bootstrap-select > .dropdown-toggle{ border-radius:25px; height:38px; color:#9faab7; font-size:12px;}
#checkedShowSelect, #checkedShowSelect-one, #checkedShowSelect-three, #checkedShowSelect-four{ display:none;}
.date {
    width: 100%;
}
.inputfile-1 + label.upload {
    background: #00599d none repeat scroll 0 0;
    border: medium none;
    border-radius: 25px;
    padding: 5px 15px;
    width: 100px;
}

.inputfile-1 + label.upload p{ font-size:12px; color:#fff; float:none; text-align:center;}
/* Chrome 28+ (now also Microsoft Edge and Safari 9+) */

@supports (-webkit-appearance:none) { .select-one select { padding: 6px; }}

.form-control:focus{border-color:#ccc;
                    box-shadow: none}

.organisation{ background: #fff none repeat scroll 0 0;
               border-radius: 15px;
               padding:0px; padding-bottom:10px;
               text-align: left; overflow:hidden;}

.organisation-left{ background:#f2f2f2;padding-top: 15px; }
.curcal-orenge {
    /*background:url("../images/big.png") no-repeat scroll 0 0;*/
    border-radius: 53px;
    float: left;
    height: 85px;
    width: 85px;
}
.infotech-location {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: auto;
    margin:0px auto 25px;
    padding:13px;
    width: 92%;
    overflow:hidden;
}

.infotech_info strong {
    color: #7d8b9c;
    display: inline-block;
    float: left;
    font-weight: normal;
    margin: 0 10px 0 0;
    width:28%;
    font-size:13px;
}

.infotech_info span {
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
    margin: 0 0 10px;
    text-align: left !important;
    width: 139px;
    color:#7d8b9c;
}
.infotech_info span a{font-size: 13px;color:#00599d;}

.infotech_info span a:hover{color:#00599d;}

.infotech_info .clearfix {
    clear: both !important;
    content: "";
    font-size: 0 !important;
    line-height: 0 !important;
}

.infotech-location h2 {
    color: #434343;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight:700;
    height: auto;
    line-height: 30px;
    width: 100%;
    border-bottom:1px solid #ccc;
    margin-bottom:15px;
    padding-bottom:10px; text-align:left;
}

.infotech-location .form-group .btn-primary {
    background: #fff44d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 25px;
    color: #004a83;
    font-size: 12px;
    font-weight: 600;
    padding: 14px 20px;
    text-align: center;
    width: 100%;
    margin-top:15px;
    margin-bottom:10px;
}

.infotech-location .form-group .btn-primary:hover{ background:#fff776;}
.infotech-location ul {
    display: block;
}
.infotech-location ul li {
    margin-bottom: 19px;
    display: table;
}
.infotech-location ul li span {
    float: left;
    margin-right:13px;
}
.pirce-m {
    display:table-cell; vertical-align:middle;
}
.pirce-m h2 {
    border: 0 none;
    color: #7d8b9c;
    font-size: 18px;
    font-weight:600;
    line-height: 20px;
    padding: 0; margin:0px;
}

.raised ul li span{
    background: #fff url("../images/life_s_icon.png") no-repeat scroll 5px 7px;
}

.cause_created{ padding-top:15px ; }
.cause_created .bootstrap-select > .dropdown-toggle {
    border-radius: 25px;
    color: #9faab7;
    font-size: 12px;
    height: 38px;
}
.filter-list{ float:left; margin-top:50px;}
.filter-list ul{ display:block;}
.filter-list ul li {
    float: left;
    margin-bottom: 25px;
    width: 280px;
}.filter-list ul li span {
    border:3px solid #00599d;
    border-radius: 50%;
    float: left;
    height: 80px;
    margin-right:20px;
    overflow: hidden;
    text-align: center;
    width: 80px;
}
.filter-list ul li span img{ height:100%; width:100%;}

.filter-list ul li h2 {
    float: left;
    line-height: 73px;
}
.filter-list ul li h2 a{ color: #00599d;font-size: 14px;
                         font-weight: 700; text-decoration:none;}

.filter-list ul li h2 a:hover{ text-decoration: underline;}

.filter-list ul li:nth-child(3n+0){ margin-right:0px;}

.cause_created .form-group label{color: #7d8b9c;
                                 font-size: 14px; font-weight:700; line-height:35px;}

.form-control{ box-shadow:none;}

.created_list {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    overflow: hidden;
    padding-bottom:40px;
}
.created_list img{ width:150px; height:auto; float:left; margin-right:18px;}
.created_list .created_list_right {
    float: left;
    width: 80%;
}

.created_list .created_list_right h2{
    float: left;
    font-size: 14px;
    font-weight: 700; color:#7d8b9c;
    line-height:15px; margin-bottom:10px;
    width: 100%;
    text-align: left;
}

.created_list .created_list_right p{
    float: left;
    font-size: 13px;
    font-weight:400; color:#7d8b9c;
    line-height:20px; margin-bottom:15px;}


.created_list .created_list_right ul{ 
    display: inline;
    float: left;
    width: 100%;
}
.created_list .created_list_right ul li{ float:left; margin-right:30px; display: inline-block;}
.created_list .created_list_right ul li span {
    float: left;
    margin-right: 13px;
    width:40px;
}
.created_list .created_list_right ul li span img{ width:100%;}

.pirce-c {
    vertical-align:middle; float:left;
}
.created_list .created_list_right ul li .pirce-c h2 {
    border: 0 none;
    color: #7d8b9c;
    display: block;
    float: none;
    font-size: 18px;
    font-weight:700;
    line-height: 20px; width:100%;
    padding: 0; margin:0px; text-align:left;
}
.created_list .created_list_right ul li .pirce-c p {
    border: 0 none;
    color: #7d8b9c;
    font-size: 12px;
    font-weight:400;
    line-height: 20px;
    padding: 0; margin:0px;
}

a.supprot2 {
    background: #00599d none repeat scroll 0 0;
    border-radius: 22px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 6px 24px; margin-left:15px;
}
a:hover.supprot2{
    background: #2793e6;
    color: #fff;
}
.supprot2 {
    float: left;
}

.form-group .bootstrap-select.btn-group .dropdown-menu li{padding: 17px 10px;  border-bottom: 1px solid #e3e3e3;}
.form-group .bootstrap-select.btn-group .dropdown-menu li a{ font-weight:600; color:#7d8b9c; padding:0px;}
.form-group .bootstrap-select.btn-group .dropdown-menu li:last-child { border: medium none;}
.form-group .bootstrap-select.btn-group .dropdown-menu{ margin-top:5px;}
.form-group .bootstrap-select.btn-group .dropdown-menu{ padding: 10px 22px;}

.created_list:last-child{ border-bottom:0px;}
.cause_created .resp-tab-content{ padding:10px 11px;}

.form-group .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ background:none;}
.form-group .bootstrap-select .dropdown-toggle:focus{ background:transparent;}
.form-group .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{ background:none;}
.form-group .btn-default:hover{ background:none;}

.cause_created ul.resp-tabs-list{ margin-left:10px;}


.title-name h2{ font-size:18px; color:#434343; float:left; line-height:22px; margin-bottom:20px; margin-top:20px;}

.get-inner .resp-tab-active:last-child {
    border: 1px solid #00599d !important;
}

.get-inner .resp-tab-active:first-child {
    border: 1px solid #00599d !important;
}

/* cause form By Minakshi*/
.cause-banner {
    padding: 45px 0;
    background: #00599d url(../images/causeBanner.jpg) no-repeat right top;
    background-size: cover;
} 
.cause-form { margin-bottom:278px;}
.cause-form .form-group label { text-align:left;}
.cause-form { background:#00599d; padding:20px;}
.cause-form .innerGap:after , .cause-form:after{ clear:both; display:block; content:''; position:relative;}
.cause-form .innerGap {background:#fff; padding:30px 30px 180px; border-radius:20px; position:relative;}
.cause-form .innerGap .tab-content {width:100%;}
.cause-form .innerGap .nav-tabs, .loginSec .nav-tabs { border-bottom:none;} 
.cause-form .innerGap .nav-tabs li, .loginSec .nav-tabs li{width:50%;height:38px; margin-bottom:0;}
.cause-form  .innerGap .nav-tabs li a, .loginSec .nav-tabs li a {  padding:0; border:1px solid #d2d2d2; height:38px; border-bottom:1 px solid #d2d2d2;
                                                                   text-align:center; line-height:38px; margin-right:0; font-weight:700; color:#7d8b9c;}
.cause-form  .innerGap .nav-tabs li.active a, .loginSec .nav-tabs li.active a { border-color:#00599d; background:#00599d; color:#fff;}
.cause-form  .innerGap .nav-tabs li:first-child a, .loginSec .nav-tabs li:first-child a { border-radius:25px 0 0 25px; -webkit-border-radius:25px 0 0 25px; 
                                                                                          -moz-border-radius:25px 0 0 25px;}
.cause-form  .innerGap .nav-tabs li:last-child a, .loginSec .nav-tabs li:last-child a { border-radius:0px 25px 25px 0px; -webkit-border-radius:0px 25px 25px 0px; 
                                                                                        -moz-border-radius:25px 0 0 25px;}
.cause-form  .innerGap h3 { font-weight:600; font-size:18px; color:#434343; margin-bottom:20px;}
.cause-form .innerGap .form-group label, .loginSec .loginForm .form-group label  {font-weight:700; color:#7d8b9c; text-align:left;}
.form-group input[type=radio] {width:27px; height:27px; display:inline-block; float:left; margin-right:10px; opacity:0;}
.form-group input[type=radio] + label.radioLabel:before { width:27px; height:27px; box-sizing:border-box; background:#dddddd; content:''; display:inline-block; position:absolute; left:14px; top:4px; border-radius:100%;
                                                          pointer-events:none;}
.form-group input[type=radio] + label.radioLabel { line-height:34px;}
.form-group input[type=radio]:checked + label.radioLabel:before { border:9px solid #00599d;}
.formFoot { background:#dddddd; padding:14px 30px; width:100%; box-sizing:border-box; text-align:right; position:absolute; left:0; bottom:0; border-radius:0 0 20px 20px; height:90px;}
.formFoot input[type=submit], .loginSec .loginForm .yellowBtn {
    background: #fff44d none repeat scroll 0 0;
    border-radius: 33px;
    color: #004a83;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    padding: 19px 38px; border:none; margin-left:18px;
}
.formFoot input[type=reset] { border:none; background:none; color:#7d8b9c; font-size:12px; color:#7d8b9c; }
.causeFormWrap h2 { margin-top:78px; margin-bottom:34px;}
.smallText { font-weight:700; font-size:12px;  color:#7d8b9c; }
.selectBox select { appearance:none; -webkit-appearance:none; -moz-appearance:none; }
.selectBox {position:relative;}
.selectBox:before {width: 0;
                   height: 0;
                   border-style: solid;
                   border-width:8px 6px 0;
                   border-color: #b4b8bd transparent transparent transparent; content:''; display:block; position:absolute; right:15px; top:15px;
                   pointer-events: none;}

.flile-control { height:80px; border:dashed 1px #d2d2d2; background:#f2f2f2; line-height:80px; text-align:center; border-radius:20px;}
.flile-control label span { font-size:14px; font-weight:700; color:#004a83; margin-left:15px;}

.cause-form .innerGap .form-group .checkboxHolder {position: relative;}
.cause-form .innerGap .form-group .checkboxHolder input[type=checkbox] {width:27px; height:27px; display:inline-block; 
                                                                        float:left; margin-right:10px; opacity:0; position: relative;}
.cause-form .innerGap .form-group .checkboxHolder input[type=checkbox] + label.checkLabel:before { width:27px; height:27px;
                                                                                                   box-sizing:border-box; background:#dddddd; content:''; display:inline-block; position:absolute; left:0px; top:12px; border-radius:100%;
                                                                                                   pointer-events:none;}
.cause-form .innerGap .form-group .checkboxHolder input[type=checkbox] + label.checkLabel { line-height:34px;}
.cause-form .innerGap .form-group .checkboxHolder input[type=checkbox]:checked + label.checkLabel:before { 
    background:#00599d url(../images/tickmark.png) no-repeat center;}

.cause-form .innerGap .form-group input[type=date]{ background:url(../images/calender.png) no-repeat right 14px center; }


/*======================= login start ====================================================*/
.loginSec { margin:0; padding:76px 0; background:#00589b;}
.loginSec h2 { color:#fff; font-size:40px; font-weight:700; text-align:center; margin-bottom:16px;}
.loginSec p { font-size:16px; color:#efefef; text-align:center; margin-bottom:44px;}
.loginSec .btn-primary {
    background: #00599d none repeat scroll 0 0;
    border-radius: 30px;
    padding:0;
    text-align: center; height:60px; line-height:60px;
    width: 100%; font-weight:700; font-size:16px;
} 

.loginForm {
    background: #fff;
    border-radius: 15px;
    padding: 30px;
}
.loginSec .loginForm p { font-size:12px; color:#7d8b9c; margin:0; padding:0; text-align:right;}
.loginSec .loginForm p a { color:#00599d; font-weight:bold;}
.loginSec .loginForm p.smText { line-height:60px;}
.loginSec .loginForm .yellowBtn { width:92%;}
.loginSec .tab-content  { float:none;}
.loginSec .tab-content h3 { font-size:18px; font-weight:700; color:#434343; margin-bottom:20px;}
.loginSec .loginForm li .indi { width:22px; height:24px; display:inline-block; vertical-align:middle;
                                background:url(../images/tabiconset.png) no-repeat left top; margin-top:-5px; margin-right:5px;}

.loginSec .loginForm li.active .indi {
    background:url(../images/tabiconset.png) no-repeat left -31px;}

.loginSec .loginForm li .org { width:25px; height:30px; display:inline-block; vertical-align:middle;
                               background:url(../images/tabiconset.png) no-repeat -23px top; margin-top:-5px; margin-right:5px;}

.loginSec .loginForm li.active .org {
    background:url(../images/tabiconset.png) no-repeat -23px -32px;}

.loginformWrap { max-width:708px; margin:auto;}

.notification { position:relative; margin-right:34px;}

.notification.get-it span {
    background: #fff44d none repeat scroll 0 0;
    border-radius: 100%;
    display: block;
    height: 26px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    width: 26px; font-weight:700; font-size:16px; color:#004a83; box-shadow:0 1px 2px #cbc9c9;
}
.profileMenu { height:38px; width:92px; border:1px solid #d1d5d9; box-sizing:border-box; 
               border-radius:25px; display:block; position:relative;}
.profileMenu span {}
.profilePic { border: 1px solid #d1d5d9;
              border-radius: 25px;
              display: block;
              left: 0;
              position: absolute; width:40px; height:40px; box-sizing:border-box;
              top: -1px;}
.profilePic img {width:100%; height:100%; border-radius:100%;}
.user_login { position:relative;}
.dropdownInfo {
    border: 1px solid;
    border-radius: 100%;
    display: inline-block;
    float: right;
    height: 6px;
    margin-top: 10px;
    width: 6px; position:relative;
    margin-right: 14px;
}

.dropdownInfo:after { border: 1px solid;
                      border-radius: 100%;
                      display: inline-block;  width: 6px;  height: 6px; content:''; position:absolute; left:7px; top:-1px;}

.dropdownInfo:before { border: 1px solid; border-radius: 100%; display: inline-block;  
                       width: 6px;  height: 6px; content:''; position:absolute; left:-9px; top:-1px;}

.user_login .dropdown-menu { max-width:190px; right:0; border-radius:15px; padding:15px 0;
                             box-shadow:-1px -4px 22px #bdbdbd; border:none; margin:12px 0 0;}

.user_login .dropdown-menu:before {width: 0; height: 0; border-style: solid; border-width:0 12px 13px;
                                   border-color: transparent transparent #fff transparent; content:''; position:absolute;right: 25px; top: -13px;}

.user_login .dropdown-menu li { display:block; margin-right:0;}
.user_login .dropdown-menu li a { display:block; float:none; padding:8px 10px 8px 30px;}
.user_login .dropdown-menu li a:after { clear:both; display:block; content:''; position:relative;}
.user_login .dropdown-menu li a:hover { background:#e5eef6; color:#00599d;}


.profileDetailSec { background:#f2f2f2; padding:28px 0;}
.imgUpload { width:231px; height:auto; border-radius:100%; position:relative;}
.imgUpload a { display:block; transition:all ease-in 0.5s;}
.imgUpload img { border-radius:100%; width:100%; height:100%;}
.imgUpload img:before { position:absolute; width:100%; height:100%; background:#000; content:''; display:block;}
.imgUpload span.editinfo { position:absolute; display:none; width:100%; text-align:center; line-height: 140px;
                           padding-top: 52px; font-size:12px; color:#fff;
                           background:url(../images/camera.png) center no-repeat;}

.imgUpload a:hover span.editinfo { display:block;}

.transparentBg { width:100%; height:100%; border-radius:100%; background:rgba(0, 0, 0, 0.6); position:absolute; top:0;
                 display:none; }

.imgUpload a:hover .transparentBg { display:block;}

.profileDes h3 { font-size:22px; font-weight:700; color:#434343;}
.profileDes ul { margin:10px 0 14px; padding:0;}
.profileDes ul:after { clear:both; display:block; content:''; position: relative;}
.profileDes ul li { float:left; color:#7d8b9c; font-size:12px; margin-right:30px;}
.profileDes ul li strong { font-weight:700; font-size:18px;}
.profileDes p { color:#7d8b9c; font-size:14px; line-height:20px;}
.seeMore { height:40px; border:2px solid #dddddd; background:#f2f2f2; padding:0 20px; box-sizing:border-box; line-height:40px; display:inline-block; border-radius:30px; font-size:12px; font-weight:bold; color:#9faab7; margin-top:10px;}



.rightBox { padding:20px; border:1px solid #e5e6ea; background:#fff; margin-top:12px;}
.rightBox h4 { font-weight:700; font-size:14px; color:#434343; border-bottom:1px solid #e3e3e3; padding-bottom:16px;
               margin-bottom:17px;}
.rightBox p {font-weight:700; font-size:18px; color:#7d8b9c;}
.rightBox p img { margin-right:10px;}
.portfolioList { margin-bottom:40px;}
.portfolioList:after { clear:both; display:block; content:''; position:relative;}
.alertMessage { width:21px; height:21px; background:url(../images/alert.png) no-repeat; display:inline-block; vertical-align:middle; cursor:pointer;}
.successMessage {width:22px; height:22px; background:url(../images/tick.png) no-repeat; display:inline-block;
                 vertical-align:middle; cursor:pointer; }
.white-tooltip + .tooltip > .tooltip-inner {background-color: #fff; padding:15px 20px; box-shadow:1px 2px 10px #afafaf;
                                            -webkit-box-shadow:1px 2px 10px #afafaf; border-radius:15px; -webkit-border-radius:15px; color:#7d8b9c; font-size:13px;
                                            text-align:left; max-width:350px; font-family:"Open Sans",sans-serif;}
.white-tooltip + .tooltip > .tooltip-arrow { border-right-color:#fff;}
.cause_created .yellowBtn {
    background: #fff44d none repeat scroll 0 0;
    border-radius: 33px;
    color: #004a83;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    height:45px;
    line-height:45px;
    padding:0px 38px; border:none; margin-left:18px; font-weight:700; font-size:12px; float:right;
}
.notificatioDropdown { left:-368px; max-width:426px !important;}
.user_login ul .notificatioDropdown li a {padding: 15px 10px;}
.profileThumb { display:inline-block; float:left; margin-right:16px;}
.profileThumb img { width:43px; height:43px; border-radius:100%;}
.notificationdetail {display:inline-block; float:left; margin-right:5px; white-space:normal; width:62%;}
.notificationdetail p { font-weight:700; font-size:12px; color:#434343;}
.notificationdetail p img { margin-right:7px;}
.notificationdetail p span { font-weight:normal; color:#7d8b9c;}
.notificationPost {display:inline-block; float:left;}
.more { 
    background:#dddddd; 
    border-radius: 0 0 15px 15px;
    bottom: -15px;
    position: relative;
    text-align: center;
}

.donateModal { max-width:490px; background:#00599d; border-radius:0; box-sizing:border-box; padding:20px;}
.donateModal .modal-content.outLine { border-radius:15px; box-shadow:none; padding:0 0 90px;}
.donateModal .modal-content.outLine h2 { font-weight:700; font-size:22px; color:#00599d; margin-top: 28px;}
.donateModal .modal-content.outLine h4 { color:#7d8b9c; font-size:14px; font-weight:700; line-height:40px;}
.donateModal .modal-content.outLine p { color:#7d8b9c; font-size:13px; font-weight:normal; line-height:30px;}
.donateModal .modal-content.outLine span { font-size:12px; font-weight:700; line-height:40px; color:#7d8b9c;}

.donateModal .form-group::after {
    clear: both;
    content: "";
    display: block;
    position: relative;
}

.donateModal .formFoot .yellowBtn {
    background: #fff44d none repeat scroll 0 0;
    border: medium none;
    border-radius: 33px;
    color: #004a83;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-left: 18px;
    margin-top: 0;
    padding: 10px 38px;
}

.formFoot .goBack{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #7d8b9c;
    font-size: 12px;
}

.donateModal .formFoot  {height: 78px;}
.donateModal .close {width:27px; height:27px; background:url(../images/close.png) no-repeat left top; display:block;
                     right: 25px; top: 15px; position:absolute; opacity:1;}
.donateModal form { padding:0 25px;}
.updateDetail {
    color: #00599d;
    float: right;
    font-size: 12px;
    position: absolute;
    right: 25px;
    top: 64px;
}
.donateModal p { font-size:12px; color:#7d8b9c;}

.cards {text-align: right;}
.subText:before {
    clear: both;
    content: "";
    display: block;
    position: relative;
}
.donateModal p.subText {padding-left: 50px; font-size:12px!important; color:#7d8b9c;}
.donateModal .radioLabel { color:#7d8b9c;}
.cardtype { position:relative;}
.cardtype span { position:absolute; width:32px; height:20px; right:14px; top:10px; display:block;}
.cardtype span img { display:block;}

.donateModal label { color:#7d8b9c; font-size:14px; font-weight:700;}
.donateModal-7 { max-width:750px; background:url(../images/thankyouBg.jpg) no-repeat center; width:100%;
                 box-sizing:border-box; /*padding:105px 50px 94px;*/ padding:0 0 94px;}
.donateModal-7  .modal-content { background-color:transparent; box-shadow:none; border:none;}
.donateModal-7  .modal-content h2 { color:#fff; font-weight:700; font-size:40px; text-align:center; padding-top:105px;}
.thankyouSocialSec { width:320px; margin:76px auto 35px;}
.thankyouSocialSec h4 { font-size:14px; text-align:center; color:#fff44d; font-weight:700; margin-bottom:18px;}
.donateModal-7  .yellowBtn {
    background: #fff44d none repeat scroll 0 0;
    border-radius: 33px;
    color: #004a83;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    height:45px;
    line-height:45px;
    padding:0px 38px; border:none; margin-left:18px; font-weight:700; font-size:12px; float:none;
}
.donateModal-7  .formStep-7 { text-align:center;}
.formStep-7 .close {width:27px; height:27px; background:url(../images/crosswhite.png) no-repeat left top; display:block;
                    right: 40px; top: 30px; position:absolute; opacity:1;}
.form-control > .dropdown-toggle {
    border-radius: 25px;
    color: #9faab7;
    font-size: 12px;
    height: 38px;
}

.form-control > .dropdown-toggle span.filter-option { font-size:12px; font-weight:normal; line-height:24px;}
.btn-group.form-control { margin-bottom:17px!important;}
.yellowBtn:hover, .formFoot input[type=submit]:hover { background:#fff776!important; box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset; -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;}

.innerPadding { padding:25px;}
.innerPadding h2 { text-align:center; margin-bottom:15px;}
.donateModal .modal-content.outLine .innerPadding p { font-size:14px; color:#7d8b9c; line-height:22px; 
                                                      margin-bottom:15px;}
.fullBioModal .modal-content.outLine { padding-bottom:0;}
.changeBtn {
    background: #00599d none repeat scroll 0 0;
    border-radius: 22px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 24px;
}

.changeBtn:hover, .changeBtn:focus { color:#fff;}
.passwordDetailBox { display:none;}
.link { font-size:12px; color:#00599d; text-align:right; display:block;}
.causeForm p { color:#7d8b9c; font-size:12px; padding-top:10px;}
.editFormHolder { max-width:970px; margin:auto;}
.editFormHolder .link { text-align:center;}

@media (max-width:480px){
    .loginSec .nav-tabs li { width:100%; float:none; margin-bottom:6px;}
    .loginSec .nav-tabs li:first-child a, .loginSec .nav-tabs li:last-child a {border-radius: 25px;}	
}
.social-share-facebook .buttons {
    display: none;
}
.error-msg {
    border: 1px solid red !important;
}
.no-background{
    background: none !important;
}